<div class="menu">
    <div class="img-header">
        <img src="../../assets/images/grecia.jpg" alt="">
    </div>
    <div class="text_home">
        <h1>
            TItulo
        </h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex ad fugit officia est. Animi maiores odio iste neque nihil eum, possimus quas ducimus ipsa excepturi aut iure nobis eaque velit accusantium tenetur unde error quis ex impedit aliquid ullam a minus. Tempore commodi repellendus consequuntur voluptatibus dolores, deleniti veniam recusandae.</p>
    </div>
    <div class="audio-header">
        <audio controls >
            <source src="../../assets/audio/La Antigua Grecia en 15 minutos.mp3" type="audio/mpeg"> 
        </audio> 
    </div> 
    <li class="next-francia">
        <a routerLink="francia">next</a>
    </li> 

</div>

