<div class="menu">
    <div class="img-header">
        <img src="../../assets/images/francia-img.jpg" alt="">
    </div>
    <div class="text_home">
        <h1>
            Francia
        </h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex ad fugit officia est. Animi maiores odio iste neque nihil eum, possimus quas ducimus ipsa excepturi aut iure nobis eaque velit accusantium tenetur unde error quis ex impedit aliquid ullam a minus. Tempore commodi repellendus consequuntur voluptatibus dolores, deleniti veniam recusandae.</p>
    </div>
    <div class="video-header">
        <video controls>
            <source src="../../assets/video/Wonderful London 1920s in color [60fps Remastered] w sound design added.mp4" type="video/mp4">
        </video> 
    </div> 
    <li class="next-francia">
        <a routerLink="/">back</a>
    </li> 

</div>
